*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section{
    padding: 5rem 0;
}

.section__small{
    padding: 3rem 0;
}

.section__smaller{
    padding: 2rem 0;
}


/* Testimonanies */
.section__heading{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(65, 65, 65);
    margin-bottom: 1.8rem;
    text-align: center;
}

.card__tes{
    padding: 2rem;
    max-width: 45rem;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

}

.card__tes:nth-child(2){
    margin-top: 3rem;
}

.card__text{
    font-size: 1rem;
    color: rgb(83, 83, 83);
    line-height: 28px;
}

.card-row{
    margin-top: 1.5rem;
}

.card__avatar{
    width: 80px;
    height: 80px;
    text-align: center;
    align-self: center;
}

.card__info{
    
}

.card__ratings{
    margin-bottom: 0.5rem;
}

.card__ratings img{
    width: 15px;
    height: 14px;
}

.card__ratings img:not(:first-child){
    margin: 0 0.2rem;
}

.card--name{
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
}

.card--details{
    font-size: .8rem;
    font-weight: 200;
    margin: 0;
}

.btn__primary{
    background-color: #00D26D;
    text-align: center;
    margin-top: 1.3rem;
    color: #fff;
    margin: 2rem auto;
    padding: 0.5rem 3rem;
    border-radius: 10px;
}

.btn__primary:hover{
    box-shadow: 0 0 1rem rgba(0, 210, 109, 0.37);
    color: #fff;
}

/* Subscribe */
#subscribe{
    background-color: #F4F4F4;
}

.subscribe__heading{
    font-size: 1.5rem;
}

.subscribe__subheading{
    font-size: 1rem;
    color: rgb(83, 83, 83);
}
.subscribe__image{
    display: none;
}
.form-control{
    display: unset;
    width: unset;
    border-radius: 0;
    width: 70%
}
.form-control:focus,
.form-control:active{
    outline: none !important;
    border: none !important;
}
#subscribe button[type=submit]{
    margin: 0 .1rem;
}


/* Footer */
#footer{
    background: #420944;
}

.footer__question{
    color: white;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.inner_div{
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.inner_div .quick-links{
    padding: 1rem 0;
}

.quick-links a{
    color: white;
    display: block;
    font-size: .9rem;
    
}

#footer a.btn{
    margin: 0;
}

.footer__sub{
    background-color: #360338;
}

.footer__sub i{
    color: white;
    margin: 0.5rem;
    font-size: 1rem;
}

/* Overwrite bootstrat Styles for container widht */
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    .card__info{
        margin-left: 1.5rem;
    }

  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 620px;
    }
    .card__tes{
        padding: 2rem 3rem;
    }
    .card__text{
        font-size: 1.2rem;
    }
    .card__info{
        margin-left: 1.5rem;
    }
    .card__ratings img{
        width: 23px;
        height: 21px;
    }
    .subscribe__heading{
        font-size: 2rem;
    }
    
    .subscribe__subheading{
        font-size: 1.5rem;
        color: rgb(83, 83, 83);
    }
    .inner_div{
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .footer__sub i{
        color: white;
        margin: 0.5rem;
        font-size: 1.8rem;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 760px;
    }
    .subscribe__image img{
        width: 250px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1040px;
    }
  }
  