body {
            font-family: 'Nunito', sans-serif;
        }
        
        .btn-custom {
            color: #fff;
            background-color: #2DCE89;
        }
        
        .btn-custom:hover {
            color: #fff;
            background-color: #31aa53;
        }
        
        .navbar-custom .nav-link {
            color: #000;
        }
        
        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        
        .footer-top {
            background-color: #3A0842;
            color: #fff;
        }
        
        .footer-top li {
            list-style-type: none;
        }
        
        .footer-link {
            color: #fff;
            text-decoration: none;
            font-size: 1em;
        }
        
        .footer-link:hover {
            color: #2DCE89;
            text-decoration: none;
        }
        
        .footer-social {
            background-color: #2E0435;
            color: #fff;
        }
        .nav-link:hover {
            color: #2DCE89;
        }
/* Others */

.subscribe{
    background-color: #2DCE89;
    border-color: #2DCE89;
}
.subscribe:hover{ 
    background-color: #31aa53;
    border-color: #31aa53;
}
